<%- include("partials/header") %>
    <main class="content-center">
        <div class="container">
            <h1 class="">Successful Payment</h1>
        </div>

    </main>
<%- include("partials/footer") %>